@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#root {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
    background-color: rgba(8,145,178,255);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

header > * {
    z-index: 1;
}

header::after {
    position: absolute;
    content: "";
    bottom: 0;
    border-style: inset;
    border-color: transparent transparent #ffffff transparent;
    border-width: 0 0 22vh 100vw;
}

#pfp {
    z-index: 1;
    box-shadow: 0px 0px 3px 2px rgb(78, 76, 76);
    max-width: 450px;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    max-width: 40rem;
    max-height: 35rem;
    background-color: white;
    box-shadow: 2px 2px 4px 1px rgb(192, 189, 189);
}

h1 {
    font-size: 2rem;
}

main {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 10rem 0;
}

#projects {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    row-gap: 1rem;
}

h3 {
    font-size: 1.75rem;
    grid-area: 1 / 1 / 1 / 2;
    font-family: 'Roboto', sans-serif;
}

#placeholder {
    grid-area: 1 / 2 / 1 / -1;
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px 1px rgb(192, 189, 189);
    width: 31.25rem;
}

.project:nth-of-type(n+4) {
    margin-top: 1rem;
}

.about-project {
    padding: .75rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.icon {
    width: 1.25rem;
}

.description {
    height: 5rem;
}

.thumbnail {
    max-width: 500px;
}

footer {
    background-color: rgba(8,145,178,255);
    display: flex;
    padding: 3rem 0rem;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    color: white;
    font-size: 1.25rem;
}

h4 {
    font-size: 2rem;
}

#footer-about {
    max-width: 20vw;
}

#footer-about *:nth-child(n + 4) {
    margin-top: 1rem;
}

@media (max-width: 500px) {
    body {
        position: absolute;
    }

    header {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }

    #pfp {
        max-width: 85vw;
    }

    #about-me {
        bottom: -1rem;
        position: relative;
        box-shadow: none;
        align-items: center;
        padding: 0 2rem;
    }

    #about-me > div {
        display: none;
    }

    #projects {
        grid-template-columns: auto;
    }

    .project:nth-of-type(n + 2) {
        margin-top: 1rem;
    }
    
    main {
        margin: 0;
        padding: 5rem 0;
    }

    h3 {
        grid-area: unset;
        justify-self: center;
    }
    
    #placeholder {
        display: none;
    }

    .project, .thumbnail {
        max-width: 90vw;
    }

    footer {
        flex-direction: column-reverse;
        word-break: break-all;
        gap: 10vh;
        padding-bottom: 3rem;
    }

    footer img {
        max-width: 90vw;
    }

    #footer-about {
        max-width: 90vw;
    }
}