@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.blog-index {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Roboto";
    background-color: rgba(255, 255, 255, 0.907);
}

.admin-link-container {
    margin-top: 4rem;
    align-self: center;
    display: flex;
    font-size: 2rem;
    gap: 5rem;
}

.blog-header {
    display: flex;
    padding: 1rem 5rem;
    font-family: "Roboto", sans-serif;
    border-bottom: 1px solid rgba(70,70,70,.1803921568627451);
    justify-content: space-between;
    align-items: center;
}

.blog-logo {
    font-size: 2.25rem;
    text-decoration: none;
}

.anchor-fix {
    color: black;
    text-decoration: none;
}

.anchor-fix:hover {
    color: black;
}

.blog-hero {
    flex-grow: 1;
    background-color: rgba(94, 91, 91, 0.123);
    border-bottom: 1px solid rgba(70,70,70,.1803921568627451);
    display: flex;
    align-content: center;
    padding: 0 5rem;
}

.blog-hero-text {
    max-width: 500px;
}

.blog-hero-text > h1 {
    font-size: 3.5rem;
}

.blog-post-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 1.5rem;
    font-family: "Roboto";
}

.blog-thumbnail-container {
    padding: 4rem 5rem;
    flex-grow: 15;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    column-gap: 6rem;
    row-gap: 3rem;
    justify-items: center;
}

.blog-thumbnail-title {
    font-size: 1.5rem;
    font-weight: 700;
    overflow: hidden;
}

.blog-post-container > h1 {
    font-size: 1.75rem;
}

.blog-thumbnail {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 10px 5px rgb(237, 236, 236);
    width: 340px;
    height: 350px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.blog-thumbnail-bottom {
    width: 100%;
}

.blog-thumbnail-button {
    margin-top: .5rem;
    border-radius: 5px;
    background-color: rgba(223, 230, 225, 0.855);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: .5rem;
    transition: background-color 150ms ease-in-out;
}

.blog-thumbnail-button:hover {
    background-color: rgba(223,230,225,.48627450980392156);
}

.dropdown > img {
    max-height: 3rem;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 400ms ease-out;
}

.dropdown > img:hover {
    transform: rotate(-90deg);
}

.dropdown {
    position: relative;
}

/* .dropdown-menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: 0;
} */

.login-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

.login-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 900px;
    padding: 2rem;
    border: 1px solid black;
}

.error-text {
    color: red;
}